.game-state-message-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0000008f;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  .game-state-message {
    background: white;
    padding: 10px;
    border: solid 1px black;
    border-radius: 15px;
    transition: 0.5s ease-in;
    cursor: default;
  }
}
