@import url("../../../cards/card-preview/card-preview.component.scss");

.flying-card {
  transform: rotate(90deg);
  min-width: 100px;
  max-width: 200px;
  width: 150px;
  position: absolute;

  &.mid-air {
    transform: rotate(0deg);
    width: 100px;
  }
}
