.flying-card {
  width: 150px;
  aspect-ratio: 6 / 9;
  border-radius: 15px;
  transition: 0.5s ease;
  border: solid 10px #cfcfcf;
  background: white;
  cursor: pointer;
  bottom: calc(50% - 40vh);
  left: -120px;
  position: absolute;
  transform: rotate(90deg);
  min-width: 100px;
  max-width: 200px;

  &.mid-air {
    transform: rotate(0deg);
    width: 100px;
  }

  &.inDeck {
    min-width: 100px;
    max-width: 200px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
