.families-bonuses {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: calc(50% - 8vh);
  left: 25px;
  height: 30px;
  gap: 5px;

  &.enemy {
    bottom: calc(50% + 2vh);
  }

  .family {
    cursor: pointer;

    .family-content {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px black;
      background: white;
      border-radius: 50%;
      overflow: hidden;

      .img {
        width: 80%;
      }

      &.active {
        background-color: gray;
      }
    }

    .steps {
      position: relative;
      margin-top: 2px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
  }
}

.tooltip {
  position: fixed;
  background: lightgray;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 8px;
  pointer-events: none;
  z-index: 1000;
  white-space: nowrap;
  transition: opacity 0.1s;
}
